<div class="stock-page mt-3">
  <app-card>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [(update)]="updateFlag"
      style="width: calc(100% - 60px); height: 400px; display: block; margin: auto;">
    </highcharts-chart>
  </app-card>

  <div class="stock-table">
    <app-table
      [title]="stock"
      [description]="'Variação do ativo nos útlimos 30 pregões'"
      [columns]="columns"
      [dataSource]="dataSource">
    </app-table>
  </div>
</div>

